<div class="webview-banner-show-cb center-flex-box">
  <h2>Gère ta dépargne 👇</h2>
</div>

<div class="conteneur-webview-depargne">
  <div class="webview-depargne-explications-box">
    <div class="webview-depargne-explications-title">
      <%= image_tag "pay.png" %>
      <div class="webview-depargne-explications-title-text">
        <h3>Pourquoi Dépargner ?</h3>
      </div>
    </div>
    <p>La dépargne te permet de mettre de petites sommes de côté à chacune de tes dépenses grâce à un arrondi fixe ou dynamique.</p>
  </div>

  <hr>

  <h3>Paramétrer ta Dépargne</h3>

  <div class="webview-depargne-choix-niveau">
    <h3>Dynamique</h3>

    <div class="webview-depargne-choix-niveau-card">
      <div class="webview-depargne-choix-niveau-card-title">
        <h4>Tranquille</h4>
      </div>
      <div class="webview-depargne-choix-niveau-card-button">
        <div class="onoffswitch-tranquille">
            <input type="checkbox" name="onoffswitch-tranquille" class="onoffswitch-tranquille-checkbox" id="myonoffswitch-tranquille" <%= "checked" if @ssr_user.include?(@depargne[:depargne_tranquille]) %>>
            <label class="onoffswitch-tranquille-label" for="myonoffswitch-tranquille">
                <span class="onoffswitch-tranquille-inner"></span>
                <span class="onoffswitch-tranquille-switch"></span>
            </label>
        </div>
      </div>
      <p>Prévisions:<br>45€/mois</p>
    </div>

    <div class="webview-depargne-choix-niveau-card">
      <div class="webview-depargne-choix-niveau-card-title">
        <h4>Normal</h4>
      </div>
      <div class="webview-depargne-choix-niveau-card-button">
        <div class="onoffswitch-normal">
            <input type="checkbox" name="onoffswitch-normal" class="onoffswitch-normal-checkbox" id="myonoffswitch-normal" <%= "checked" if @ssr_user.include?(@depargne[:depargne_normal]) %>>
            <label class="onoffswitch-normal-label" for="myonoffswitch-normal">
                <span class="onoffswitch-normal-inner"></span>
                <span class="onoffswitch-normal-switch"></span>
            </label>
        </div>
      </div>
      <p>Prévisions:<br>85€/mois</p>
    </div>

    <div class="webview-depargne-choix-niveau-card">
      <div class="webview-depargne-choix-niveau-card-title">
        <h4>Ambitieux</h4>
      </div>
      <div class="webview-depargne-choix-niveau-card-button">
        <div class="onoffswitch-ambitieux">
            <input type="checkbox" name="onoffswitch-ambitieux" class="onoffswitch-ambitieux-checkbox" id="myonoffswitch-ambitieux" <%= "checked" if @ssr_user.include?(@depargne[:depargne_ambitieux]) %>>
            <label class="onoffswitch-ambitieux-label" for="myonoffswitch-ambitieux">
                <span class="onoffswitch-ambitieux-inner"></span>
                <span class="onoffswitch-ambitieux-switch"></span>
            </label>
        </div>
      </div>
      <p>Prévisions:<br>125€/mois</p>
    </div>

  </div>


  <div class="webview-depargne-choix-niveau">
    <h3>Fixe</h3>

    <div class="webview-depargne-choix-niveau-card">
      <div class="webview-depargne-choix-niveau-card-title">
        <h4>+1€</h4>
      </div>
      <div class="webview-depargne-choix-niveau-card-button">
        <div class="onoffswitch-1euro">
            <input type="checkbox" name="onoffswitch-1euro" class="onoffswitch-1euro-checkbox" id="myonoffswitch-1euro" <%= "checked" if @ssr_user.include?(@depargne[:depargne_1euro]) %>>
            <label class="onoffswitch-1euro-label" for="myonoffswitch-1euro">
                <span class="onoffswitch-1euro-inner"></span>
                <span class="onoffswitch-1euro-switch"></span>
            </label>
        </div>
      </div>
      <p>Prévisions:<br>15€/mois</p>
    </div>

    <div class="webview-depargne-choix-niveau-card">
      <div class="webview-depargne-choix-niveau-card-title">
        <h4>+2€</h4>
      </div>
      <div class="webview-depargne-choix-niveau-card-button">
        <div class="onoffswitch-2euro">
            <input type="checkbox" name="onoffswitch-2euro" class="onoffswitch-2euro-checkbox" id="myonoffswitch-2euro" <%= "checked" if @ssr_user.include?(@depargne[:depargne_2euro]) %>>
            <label class="onoffswitch-2euro-label" for="myonoffswitch-2euro">
                <span class="onoffswitch-2euro-inner"></span>
                <span class="onoffswitch-2euro-switch"></span>
            </label>
        </div>
      </div>
      <p>Prévisions:<br>25€/mois</p>
    </div>

    <div class="webview-depargne-choix-niveau-card">
      <div class="webview-depargne-choix-niveau-card-title">
        <h4>+5€</h4>
      </div>
      <div class="webview-depargne-choix-niveau-card-button">
        <div class="onoffswitch-5euro">
            <input type="checkbox" name="onoffswitch-5euro" class="onoffswitch-5euro-checkbox" id="myonoffswitch-5euro" <%= "checked" if @ssr_user.include?(@depargne[:depargne_5euro]) %>>
            <label class="onoffswitch-5euro-label" for="myonoffswitch-5euro">
                <span class="onoffswitch-5euro-inner"></span>
                <span class="onoffswitch-5euro-switch"></span>
            </label>
        </div>
      </div>
      <p>Prévisions:<br>45€/mois</p>
    </div>

  </div>

  <div class="webview-depargne-position-boutton">
    <a href="#" class="boutton-valider">Valider</a>
  </div>

</div>
