<div class="webview-banner-show-cb center-flex-box">
  <h2>Gère ta dépargne 👇</h2>
</div>

<div class="conteneur-webview-depargne">
  <div class="webview-depargne-explications-box">
    <div class="webview-depargne-explications-title">
      <%= image_tag "pay.png" %>
      <div class="webview-depargne-explications-title-text">
        <h3>Pourquoi Dépargner ?</h3>
      </div>
    </div>
    <p>La dépargne te permet de mettre de petites sommes de côté à chacune de tes dépenses grâce à un arrondi fixe ou dynamique.</p>
  </div>

  <hr>

  <h3>Paramètre ta Dépargne</h3>
  <div class="webview-depargne-choix-niveau">
    <div class="webview-depargne-title-et-infos">
      <h3>Dynamique</h3>
      <div data-toggle="modal" data-target="#myModal_dynamique">
        <em>Comment ça marche ?</em>
      </div>
    </div>

    <div class="webview-depargne-choix-niveau-card">
      <div class="webview-depargne-choix-niveau-card-title">
        <h4>Tranquille</h4>
      </div>
      <div class="webview-depargne-choix-niveau-card-button">
        <% if @ssr_user.include?(@epargnes[:epargnes_tranquille])%>
          <div class="webview-depargne-position-boutton webview-depargne-position-boutton-on">
            <%= link_to epargne_path(@epargnes[:epargnes_tranquille]), method: :delete do %>
              <div class="base_switch_button">
                <div class="switch_button_element_texte-on">
                  <p>ON</p>
                </div>
                <div class="switch_button_element_blanc"></div>
              </div>
            <% end %>
          </div>
        <% elsif @epargnes.values.uniq.count > 1 %>
          <%= simple_form_for [@epargnes.values.uniq[0] == "vide" ? @epargnes.values.uniq[1] : @epargnes.values.uniq[0]] do |f| %>
            <%= f.input :user_id, input_html: { id: 'user_id_epargne', value: @user.id }, as: :hidden %>
            <%= f.input :smart_saving_rule_id, input_html: { id: 'smart_saving_rule_id_epargne', value: @depargne[:depargne_tranquille].id }, as: :hidden  %>
             <div class="webview-depargne-position-boutton">
              <%= button_tag(type: 'submit') do %>
                <div class="base_switch_button become-off">
                  <div class="switch_button_element_blanc"></div>
                  <div class="switch_button_element_texte-off">
                    <p>OFF</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <%= simple_form_for [@epargne] do |f| %>
            <%= f.input :user_id, input_html: { id: 'user_id_epargne', value: @user.id }, as: :hidden %>
            <%= f.input :smart_saving_rule_id, input_html: { id: 'smart_saving_rule_id_epargne', value: @depargne[:depargne_tranquille].id }, as: :hidden  %>
             <div class="webview-depargne-position-boutton">
              <%= button_tag(type: 'submit') do %>
                <div class="base_switch_button become-off">
                  <div class="switch_button_element_blanc"></div>
                  <div class="switch_button_element_texte-off">
                    <p>OFF</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <p>Prévisions:<br>45€/mois</p>
    </div>

    <div class="webview-depargne-choix-niveau-card">
      <div class="webview-depargne-choix-niveau-card-title">
        <h4>Normal</h4>
      </div>
      <div class="webview-depargne-choix-niveau-card-button">
        <% if @ssr_user.include?(@epargnes[:epargnes_normal])%>
          <div class="webview-depargne-position-boutton webview-depargne-position-boutton-on">
            <%= link_to epargne_path(@epargnes[:epargnes_normal]), method: :delete do %>
              <div class="base_switch_button">
                <div class="switch_button_element_texte-on">
                  <p>ON</p>
                </div>
                <div class="switch_button_element_blanc"></div>
              </div>
            <% end %>
          </div>
        <% elsif @epargnes.values.uniq.count > 1 %>
          <%= simple_form_for [@epargnes.values.uniq[0] == "vide" ? @epargnes.values.uniq[1] : @epargnes.values.uniq[0]] do |f| %>
            <%= f.input :user_id, input_html: { id: 'user_id_epargne', value: @user.id }, as: :hidden %>
            <%= f.input :smart_saving_rule_id, input_html: { id: 'smart_saving_rule_id_epargne', value: @depargne[:depargne_normal].id }, as: :hidden  %>
             <div class="webview-depargne-position-boutton">
              <%= button_tag(type: 'submit') do %>
                <div class="base_switch_button become-off">
                  <div class="switch_button_element_blanc"></div>
                  <div class="switch_button_element_texte-off">
                    <p>OFF</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <%= simple_form_for [@epargne] do |f| %>
            <%= f.input :user_id, input_html: { id: 'user_id_epargne', value: @user.id }, as: :hidden %>
            <%= f.input :smart_saving_rule_id, input_html: { id: 'smart_saving_rule_id_epargne', value: @depargne[:depargne_normal].id }, as: :hidden  %>
             <div class="webview-depargne-position-boutton">
              <%= button_tag(type: 'submit') do %>
                <div class="base_switch_button become-off">
                  <div class="switch_button_element_blanc"></div>
                  <div class="switch_button_element_texte-off">
                    <p>OFF</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <p>Prévisions:<br>85€/mois</p>
    </div>

    <div class="webview-depargne-choix-niveau-card">
      <div class="webview-depargne-choix-niveau-card-title">
        <h4>Ambitieux</h4>
      </div>
      <div class="webview-depargne-choix-niveau-card-button">
        <% if @ssr_user.include?(@epargnes[:epargnes_ambitieux])%>
          <div class="webview-depargne-position-boutton webview-depargne-position-boutton-on">
            <%= link_to epargne_path(@epargnes[:epargnes_ambitieux]), method: :delete do %>
              <div class="base_switch_button">
                <div class="switch_button_element_texte-on">
                  <p>ON</p>
                </div>
                <div class="switch_button_element_blanc"></div>
              </div>
            <% end %>
          </div>
        <% elsif @epargnes.values.uniq.count > 1 %>
          <%= simple_form_for [@epargnes.values.uniq[0] == "vide" ? @epargnes.values.uniq[1] : @epargnes.values.uniq[0]] do |f| %>
            <%= f.input :user_id, input_html: { id: 'user_id_epargne', value: @user.id }, as: :hidden %>
            <%= f.input :smart_saving_rule_id, input_html: { id: 'smart_saving_rule_id_epargne', value: @depargne[:depargne_ambitieux].id }, as: :hidden  %>
             <div class="webview-depargne-position-boutton">
              <%= button_tag(type: 'submit') do %>
                <div class="base_switch_button become-off">
                  <div class="switch_button_element_blanc"></div>
                  <div class="switch_button_element_texte-off">
                    <p>OFF</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <%= simple_form_for [@epargne] do |f| %>
            <%= f.input :user_id, input_html: { id: 'user_id_epargne', value: @user.id }, as: :hidden %>
            <%= f.input :smart_saving_rule_id, input_html: { id: 'smart_saving_rule_id_epargne', value: @depargne[:depargne_ambitieux].id }, as: :hidden  %>
             <div class="webview-depargne-position-boutton">
              <%= button_tag(type: 'submit') do %>
                <div class="base_switch_button become-off">
                  <div class="switch_button_element_blanc"></div>
                  <div class="switch_button_element_texte-off">
                    <p>OFF</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <p>Prévisions:<br>125€/mois</p>
    </div>

  </div>

    <div class="webview-depargne-choix-niveau">
    <div class="webview-depargne-title-et-infos">
      <h3>Fixe</h3>
      <div data-toggle="modal" data-target="#myModal_fixe">
        <em>Comment ça marche ?</em>
      </div>
    </div>

    <div class="webview-depargne-choix-niveau-card">
      <div class="webview-depargne-choix-niveau-card-title">
        <h4>+1€</h4>
      </div>
      <div class="webview-depargne-choix-niveau-card-button">
        <% if @ssr_user.include?(@epargnes[:epargnes_1euro])%>
          <div class="webview-depargne-position-boutton webview-depargne-position-boutton-on">
            <%= link_to epargne_path(@epargnes[:epargnes_1euro]), method: :delete do %>
              <div class="base_switch_button">
                <div class="switch_button_element_texte-on">
                  <p>ON</p>
                </div>
                <div class="switch_button_element_blanc"></div>
              </div>
            <% end %>
          </div>
        <% elsif @epargnes.values.uniq.count > 1 %>
          <%= simple_form_for [@epargnes.values.uniq[0] == "vide" ? @epargnes.values.uniq[1] : @epargnes.values.uniq[0]] do |f| %>
            <%= f.input :user_id, input_html: { id: 'user_id_epargne', value: @user.id }, as: :hidden %>
            <%= f.input :smart_saving_rule_id, input_html: { id: 'smart_saving_rule_id_epargne', value: @depargne[:depargne_1euro].id }, as: :hidden  %>
             <div class="webview-depargne-position-boutton">
              <%= button_tag(type: 'submit') do %>
                <div class="base_switch_button become-off">
                  <div class="switch_button_element_blanc"></div>
                  <div class="switch_button_element_texte-off">
                    <p>OFF</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <%= simple_form_for [@epargne] do |f| %>
            <%= f.input :user_id, input_html: { id: 'user_id_epargne', value: @user.id }, as: :hidden %>
            <%= f.input :smart_saving_rule_id, input_html: { id: 'smart_saving_rule_id_epargne', value: @depargne[:depargne_1euro].id }, as: :hidden  %>
             <div class="webview-depargne-position-boutton">
              <%= button_tag(type: 'submit') do %>
                <div class="base_switch_button become-off">
                  <div class="switch_button_element_blanc"></div>
                  <div class="switch_button_element_texte-off">
                    <p>OFF</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <p>Prévisions:<br>15€/mois</p>
    </div>

    <div class="webview-depargne-choix-niveau-card">
      <div class="webview-depargne-choix-niveau-card-title">
        <h4>+2€</h4>
      </div>
      <div class="webview-depargne-choix-niveau-card-button">
        <% if @ssr_user.include?(@epargnes[:epargnes_2euro])%>
          <div class="webview-depargne-position-boutton webview-depargne-position-boutton-on">
            <%= link_to epargne_path(@epargnes[:epargnes_2euro]), method: :delete do %>
              <div class="base_switch_button">
                <div class="switch_button_element_texte-on">
                  <p>ON</p>
                </div>
                <div class="switch_button_element_blanc"></div>
              </div>
            <% end %>
          </div>
        <% elsif @epargnes.values.uniq.count > 1 %>
          <%= simple_form_for [@epargnes.values.uniq[0] == "vide" ? @epargnes.values.uniq[1] : @epargnes.values.uniq[0]] do |f| %>
            <%= f.input :user_id, input_html: { id: 'user_id_epargne', value: @user.id }, as: :hidden %>
            <%= f.input :smart_saving_rule_id, input_html: { id: 'smart_saving_rule_id_epargne', value: @depargne[:depargne_2euro].id }, as: :hidden  %>
             <div class="webview-depargne-position-boutton">
              <%= button_tag(type: 'submit') do %>
                <div class="base_switch_button become-off">
                  <div class="switch_button_element_blanc"></div>
                  <div class="switch_button_element_texte-off">
                    <p>OFF</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <%= simple_form_for [@epargne] do |f| %>
            <%= f.input :user_id, input_html: { id: 'user_id_epargne', value: @user.id }, as: :hidden %>
            <%= f.input :smart_saving_rule_id, input_html: { id: 'smart_saving_rule_id_epargne', value: @depargne[:depargne_2euro].id }, as: :hidden  %>
             <div class="webview-depargne-position-boutton">
              <%= button_tag(type: 'submit') do %>
                <div class="base_switch_button become-off">
                  <div class="switch_button_element_blanc"></div>
                  <div class="switch_button_element_texte-off">
                    <p>OFF</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <p>Prévisions:<br>25€/mois</p>
    </div>

    <div class="webview-depargne-choix-niveau-card">
      <div class="webview-depargne-choix-niveau-card-title">
        <h4>+5€</h4>
      </div>
      <div class="webview-depargne-choix-niveau-card-button">
        <% if @ssr_user.include?(@epargnes[:epargnes_5euro])%>
          <div class="webview-depargne-position-boutton webview-depargne-position-boutton-on">
            <%= link_to epargne_path(@epargnes[:epargnes_5euro]), method: :delete do %>
              <div class="base_switch_button">
                <div class="switch_button_element_texte-on">
                  <p>ON</p>
                </div>
                <div class="switch_button_element_blanc"></div>
              </div>
            <% end %>
          </div>
        <% elsif @epargnes.values.uniq.count > 1 %>
          <%= simple_form_for [@epargnes.values.uniq[0] == "vide" ? @epargnes.values.uniq[1] : @epargnes.values.uniq[0]] do |f| %>
            <%= f.input :user_id, input_html: { id: 'user_id_epargne', value: @user.id }, as: :hidden %>
            <%= f.input :smart_saving_rule_id, input_html: { id: 'smart_saving_rule_id_epargne', value: @depargne[:depargne_5euro].id }, as: :hidden  %>
             <div class="webview-depargne-position-boutton">
              <%= button_tag(type: 'submit') do %>
                <div class="base_switch_button become-off">
                  <div class="switch_button_element_blanc"></div>
                  <div class="switch_button_element_texte-off">
                    <p>OFF</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <%= simple_form_for [@epargne] do |f| %>
            <%= f.input :user_id, input_html: { id: 'user_id_epargne', value: @user.id }, as: :hidden %>
            <%= f.input :smart_saving_rule_id, input_html: { id: 'smart_saving_rule_id_epargne', value: @depargne[:depargne_5euro].id }, as: :hidden  %>
             <div class="webview-depargne-position-boutton">
              <%= button_tag(type: 'submit') do %>
                <div class="base_switch_button become-off">
                  <div class="switch_button_element_blanc"></div>
                  <div class="switch_button_element_texte-off">
                    <p>OFF</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <p>Prévisions:<br>45€/mois</p>
    </div>

  </div>

  <div class="position-boutton-valider">
    <a href="#" class="boutton-valider">Valider</a>
  </div>

</div>


<%= render 'shared/modaldynamique' %>
<%= render 'shared/modalfixe' %>
