<div class="webview-banner-show-cb center-flex-box">
  <h2>Gère ta règle 👇</h2>
</div>

<div class="conteneur-webview-depargne">
  <div class="webview-depargne-explications-box">
    <div class="webview-depargne-explications-title">
      <%= image_tag "rain.png" %>
      <div class="webview-depargne-explications-title-text">
        <h3>J'aime pas la pluie</h3>
      </div>
    </div>
    <p>Quand il pleut, on sort pas ou peu. On dépense donc pas ou peu. Une opportunité pour mettre de côté et se faire plaisir plus tard.</p>
  </div>

  <hr>
  <h3>Paramètre ta règle</h3>
  <div class="webview-depargne-choix-niveau">
    <div class="webview-depargne-title-et-infos">
      <h3>Samedi de pluie</h3>
    </div>

    <div class="webview-depargne-choix-niveau-card">
      <div class="webview-depargne-choix-niveau-card-button">
        <% if @ssr_user.include?(@epargnes[:epargnes_samedi5])%>
          <div class="webview-depargne-position-boutton webview-depargne-position-boutton-on">
            <%= link_to epargne_path(@epargnes[:epargnes_samedi5]), method: :delete do %>
              <div class="base_switch_button">
                <div class="switch_button_element_texte-on">
                  <p>ON</p>
                </div>
                <div class="switch_button_element_blanc"></div>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= simple_form_for [@epargne] do |f| %>
            <%= f.input :user_id, input_html: { id: 'user_id_cagnotte', value: @user.id }, as: :hidden %>
            <%= f.input :smart_saving_rule_id, input_html: { id: 'user_id_cagnotte', value: @ssr[:ssr_samedi5].id }, as: :hidden  %>
             <div class="webview-depargne-position-boutton">
              <%= button_tag(type: 'submit') do %>
                <div class="base_switch_button become-off">
                  <div class="switch_button_element_blanc"></div>
                  <div class="switch_button_element_texte-off">
                    <p>OFF</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="webview-depargne-titre-regle">
        <h4>5€ mis de côté</h4>
      </div>
    </div>

    <div class="webview-depargne-choix-niveau-card">
      <div class="webview-depargne-choix-niveau-card-button">
        <% if @ssr_user.include?(@epargnes[:epargnes_samedi10])%>
          <div class="webview-depargne-position-boutton webview-depargne-position-boutton-on">
            <%= link_to epargne_path(@epargnes[:epargnes_samedi10]), method: :delete do %>
              <div class="base_switch_button">
                <div class="switch_button_element_texte-on">
                  <p>ON</p>
                </div>
                <div class="switch_button_element_blanc"></div>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= simple_form_for [@epargne] do |f| %>
            <%= f.input :user_id, input_html: { id: 'user_id_cagnotte', value: @user.id }, as: :hidden %>
            <%= f.input :smart_saving_rule_id, input_html: { id: 'user_id_cagnotte', value: @ssr[:ssr_samedi10].id }, as: :hidden  %>
             <div class="webview-depargne-position-boutton">
              <%= button_tag(type: 'submit') do %>
                <div class="base_switch_button become-off">
                  <div class="switch_button_element_blanc"></div>
                  <div class="switch_button_element_texte-off">
                    <p>OFF</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="webview-depargne-titre-regle">
        <h4>10€ mis de côté</h4>
      </div>
    </div>

    <div class="webview-depargne-choix-niveau-card">
      <div class="webview-depargne-choix-niveau-card-button">
        <% if @ssr_user.include?(@epargnes[:epargnes_samedi15])%>
          <div class="webview-depargne-position-boutton webview-depargne-position-boutton-on">
            <%= link_to epargne_path(@epargnes[:epargnes_samedi15]), method: :delete do %>
              <div class="base_switch_button">
                <div class="switch_button_element_texte-on">
                  <p>ON</p>
                </div>
                <div class="switch_button_element_blanc"></div>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= simple_form_for [@epargne] do |f| %>
            <%= f.input :user_id, input_html: { id: 'user_id_cagnotte', value: @user.id }, as: :hidden %>
            <%= f.input :smart_saving_rule_id, input_html: { id: 'user_id_cagnotte', value: @ssr[:ssr_samedi15].id }, as: :hidden  %>
             <div class="webview-depargne-position-boutton">
              <%= button_tag(type: 'submit') do %>
                <div class="base_switch_button become-off">
                  <div class="switch_button_element_blanc"></div>
                  <div class="switch_button_element_texte-off">
                    <p>OFF</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="webview-depargne-titre-regle">
        <h4>15€ mis de côté</h4>
      </div>
    </div>

  </div>

    <div class="webview-depargne-choix-niveau">
    <div class="webview-depargne-title-et-infos">
      <h3>Dimanche de pluie</h3>
    </div>

    <div class="webview-depargne-choix-niveau-card">
      <div class="webview-depargne-choix-niveau-card-button">
        <% if @ssr_user.include?(@epargnes[:epargnes_dimanche5])%>
          <div class="webview-depargne-position-boutton webview-depargne-position-boutton-on">
            <%= link_to epargne_path(@epargnes[:epargnes_dimanche5]), method: :delete do %>
              <div class="base_switch_button">
                <div class="switch_button_element_texte-on">
                  <p>ON</p>
                </div>
                <div class="switch_button_element_blanc"></div>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= simple_form_for [@epargne] do |f| %>
            <%= f.input :user_id, input_html: { id: 'user_id_cagnotte', value: @user.id }, as: :hidden %>
            <%= f.input :smart_saving_rule_id, input_html: { id: 'user_id_cagnotte', value: @ssr[:ssr_dimanche5].id }, as: :hidden  %>
             <div class="webview-depargne-position-boutton">
              <%= button_tag(type: 'submit') do %>
                <div class="base_switch_button become-off">
                  <div class="switch_button_element_blanc"></div>
                  <div class="switch_button_element_texte-off">
                    <p>OFF</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="webview-depargne-titre-regle">
        <h4>5€ mis de côté</h4>
      </div>
    </div>

    <div class="webview-depargne-choix-niveau-card">
      <div class="webview-depargne-choix-niveau-card-button">
        <% if @ssr_user.include?(@epargnes[:epargnes_dimanche10])%>
          <div class="webview-depargne-position-boutton webview-depargne-position-boutton-on">
            <%= link_to epargne_path(@epargnes[:epargnes_dimanche10]), method: :delete do %>
              <div class="base_switch_button">
                <div class="switch_button_element_texte-on">
                  <p>ON</p>
                </div>
                <div class="switch_button_element_blanc"></div>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= simple_form_for [@epargne] do |f| %>
            <%= f.input :user_id, input_html: { id: 'user_id_cagnotte', value: @user.id }, as: :hidden %>
            <%= f.input :smart_saving_rule_id, input_html: { id: 'user_id_cagnotte', value: @ssr[:ssr_dimanche10].id }, as: :hidden  %>
             <div class="webview-depargne-position-boutton">
              <%= button_tag(type: 'submit') do %>
                <div class="base_switch_button become-off">
                  <div class="switch_button_element_blanc"></div>
                  <div class="switch_button_element_texte-off">
                    <p>OFF</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="webview-depargne-titre-regle">
        <h4>10€ mis de côté</h4>
      </div>
    </div>

    <div class="webview-depargne-choix-niveau-card">
      <div class="webview-depargne-choix-niveau-card-button">
        <% if @ssr_user.include?(@epargnes[:epargnes_dimanche15])%>
          <div class="webview-depargne-position-boutton webview-depargne-position-boutton-on">
            <%= link_to epargne_path(@epargnes[:epargnes_dimanche15]), method: :delete do %>
              <div class="base_switch_button">
                <div class="switch_button_element_texte-on">
                  <p>ON</p>
                </div>
                <div class="switch_button_element_blanc"></div>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= simple_form_for [@epargne] do |f| %>
            <%= f.input :user_id, input_html: { id: 'user_id_cagnotte', value: @user.id }, as: :hidden %>
            <%= f.input :smart_saving_rule_id, input_html: { id: 'user_id_cagnotte', value: @ssr[:ssr_dimanche15].id }, as: :hidden  %>
             <div class="webview-depargne-position-boutton">
              <%= button_tag(type: 'submit') do %>
                <div class="base_switch_button become-off">
                  <div class="switch_button_element_blanc"></div>
                  <div class="switch_button_element_texte-off">
                    <p>OFF</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="webview-depargne-titre-regle">
        <h4>15€ mis de côté</h4>
      </div>
    </div>

  </div>

  <div class="position-boutton-valider">
    <a href="#" class="boutton-valider">Valider</a>
  </div>

</div>
